/* Contact.css */
.contact-container {
  max-width: 800px; /* Adjusted max-width for better mobile responsiveness */
  margin: 0 auto;
  margin-top: 3%;
}

h2 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-item {
  width: 100%; /* Full width for smaller screens */
  margin: 10px 0; /* Adjusted margin for better spacing on small screens */
  padding: 15px;
  background-color: #444;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
  color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-item p,
.contact-item a {
  color: #eee;
}

.contact-item a {
  text-decoration: none;
  font-weight: bold;
}

.contact-item a:hover {
  text-decoration: underline;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .contact-container {
    max-width: 100%; /* Adjusted for full width on small screens */
    font-size: small;
  }

  .contact-details {
    padding: 15px; /* Adjusted padding for better spacing on small screens */
  }
}
